<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img src="~/carbook-master/images/alikaan.jpg" alt="Image placeholder" class="img-fluid mb-4">
    </div>
    <div class="desc">
        <h3>Ali Kaan Özoğlu</h3>
        <p>CarBook üzerinden ilk kez araç kiraladım ve gerçekten çok memnun kaldım. Aracı tam zamanında, temiz ve sorunsuz teslim aldım. Fiyatlar da oldukça makul. Kesinlikle tekrar kullanacağım!</p>
    </div>
</div>